<h1>
  Login
</h1>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>
<form class="col-md-6" #loginForm="ngForm" (submit)="login();loginForm.reset()">
  <mat-form-field>
    <input appHover matInput required   [(ngModel)]="user.userName" type="text" name="username" placeholder="User Name">
  </mat-form-field>
  <mat-form-field>
    <input appPasswordValidator appHover required #password="ngModel"  matInput [(ngModel)]="user.password" type="password"
      name="password" placeholder="Password">
    </mat-form-field>
  <div>
    <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Login</button>
  </div>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>