<!-- <h1>
  {{title}}
</h1> -->
<app-header>
  <div #header>
    {{title}}
  </div>
</app-header>

<div [ngClass]="{ 'alert alert-danger':isVisible }">
  {{name}}
</div>

<div [hidden]="isVisible" [innerText]="name">

</div>


<div *ngIf="isVisible" [innerText]="name">

</div>
<!-- <div *ngIf="!isVisible" [innerText]="name">

</div> -->

<button type="button" (click)="toggle()">Toggle</button>

<input type="text" [value]="name" placeholder="Name" name="empname"> {{selectedStudent|json}}

{{student| json}}
{{studentForm.invalid | json}}
{{studentForm.valid | json}}
{{studentForm.dirty | json}}
{{studentForm.value | json}}
{{studentForm.pristine | json}}
<div *ngIf="isSubmitted" class="alert alert-success">
  Form saved successfully!
</div>
<form #studentForm="ngForm" (submit)="save(studentForm)">
  <div class="form-group">
    <input #sid="ngModel" required class="form-control" [(ngModel)]="student.id" name="id" type="number" placeholder="Student Id">
    <div *ngIf="sid.dirty && sid.invalid " class="alert alert-danger">
        Please provide student id!
    </div>
  </div>
  <div class="form-group">
    <input required minlength="4" maxlength="8" class="form-control" [(ngModel)]="student.name" name="name" type="text" placeholder="Student Name">
  </div>
  <div class="form-group">
    <input required [pattern]="emailRegex" class="form-control" [(ngModel)]="student.email" name="email" type="text" placeholder="Student Email">
  </div>
  <div class="form-group">
    <input required class="form-control" [(ngModel)]="student.dob" name="dob" type="datetime" placeholder="Student DOB">
  </div>
  <div>
    <button [disabled]="studentForm.invalid" type="submit" class="btn btn-primary">Save</button>
  </div>
</form>


<app-student-list [students]="studentList" (selectedStudent)="readStudent($event)"></app-student-list>

<div [ngSwitch]="role">
  <div *ngSwitchCase="'Admin'">
    This is a Admin View
  </div>

  <div *ngSwitchCase="'Super Admin'">
    This is a Super Admin View
  </div>

  <div *ngSwitchCase="'User'">
    This is a User View.
  </div>

  <div *ngSwitchDefault>
    This is default view
  </div>

</div>