<h1>
  Student List
</h1>
{{students | json}}

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td> {{student.name}} </td>
      <td>{{student.dob}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="select(student)">Send Selected Student</button>
      </td>
    </tr>
  </tbody>
</table>