<h1>
  Student List
</h1>
{{students | json}}

<input type="number" [(ngModel)]="empid" name="empid" placeholder="Employee Id" class="form-control">
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>Send Info</th>
      <th>View Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students | employeeSearch : empid">
      <td>{{student.id | currency : 'INR'}}</td>
      <td> {{student.name | name}} </td>
      <td>{{student.dob | date : 'dd-MMM-yyyy' }}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="select(student)">Send Selected Student</button>
      </td>
      <td>
        <button type="button" class="btn btn-success" [routerLink]="[student.id]">Details</button>
      </td>
    </tr>
  </tbody>
</table>